.header {
	background: url("../../image/header.png") no-repeat;
	background-size: 100% 100%;
	padding-top: 5px;
	padding-bottom: 15px;

	&__container{
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 950px) {
			flex-direction: column;
		}
	}

	&__left{
		display: flex;
		align-items: center;

		@media (max-width: 500px) {
			flex-direction: column;
		}
	}

	&__tel{
		margin-right: 25px;
		display: flex;
		align-items: flex-start;
		font-weight: 700;
		font-size: 40px;
		transition: all .3s;
		position: relative;
		z-index: 10;

		@media (max-width: 470px) {
			font-size: 30px;
			margin-right: 0;
		}
		@media (max-width: 400px) {
			font-size: 25px;
		}

		&--right{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&--small{
			font-size: 15px;
		}

		&:hover{
			opacity: .5;
		}
	}

	&__bee{
		position: absolute;
		width: 40px;
		height: 40px;
		top: -30px;
		left: -30px;
	}
}
